<header>
    <a href="/">
        <img src="img/home.png" alt="banner" id="banner">
    </a>
    <nav>
        <ul id="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Filmes</a>
            </li>
            <li>
                <a href="#">Series</a>
            </li>
        </ul>
        <ol id="submenu">
            <li>
                <a href="#">Ação</a>
            </li>
            <li>
                <a href="#">Animação</a>
            </li>
            <li>
                <a href="#">Crime</a>
            </li>
            <li>
                <a href="#">Comedia</a>
            </li>
            <li>
                <a href="#">Drama</a>
            </li>
            <li>
                <a href="#">Familia</a>
            </li>
            <li>
                <a href="#">Fantasia</a>
            </li>
            <li>
                <a href="#">Ficao</a>
            </li>
            <li>
                <a href="#">Guerra</a>
            </li>
            <li>
                <a href="#">Historia</a>
            </li>
            <li>
                <a href="#">Policial</a>
            </li>
            <li>
                <a href="#">Terror</a>
            </li>
        </ol>
    </nav>
</header>