<header>
    <a href="/">
        <img src="/img/home.png" alt="banner" id="banner">
    </a>
    <nav>
        <ul id="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tipo/filmes">Filmes</a>
            </li>
            <li>
                <a href="/tipo/series">Series</a>
            </li>
            <li>
                <a href="/adicionar">Adicionar</a>
            </li>
        </ul>
        <ol id="submenu">
            <li>
                <a href="/categoria/crime">Crime</a>
            </li>
            <li>
                <a href="/categoria/animacao">Animação</a>
            </li>
            <li>
                <a href="/categoria/comedia">Comedia</a>
            </li>
            <li>
                <a href="/categoria/familia">Familia</a>
            </li>
            <li>
                <a href="/categoria/drama">Drama</a>
            </li>
            <li>
                <a href="/categoria/fantasia">Fantasia</a>
            </li>
            <li>
                <a href="/categoria/ficcao">Ficao</a>
            </li>
            <li>
                <a href="/categoria/terror">Terror</a>
            </li>
            <li>
                <a href="/categoria/guerra">Guerra</a>
            </li>
            <li>
                <a href="/categoria/acao">Ação</a>
            </li>
            <li>
                <a href="/categoria/historia">Historia</a>
            </li>
            <li>
                <a href="/categoria/policial">Policial</a>
            </li>
        </ol>
    </nav>
</header>