<header>
    <a href="/">
        <img src="/img/home.png" alt="banner" id="banner">
    </a>
    <nav>
        <ul id="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tipo/filmes">Filmes</a>
            </li>
            <li>
                <a href="/tipo/series">Series</a>
            </li>
            <li>
                <a href="/adicionar">Adicionar</a>
            </li>
        </ul>
        <ol id="submenu">
            <li>
                <a href="/category/crime">Crime</a>
            </li>
            <li>
                <a href="/category/animacao">Animação</a>
            </li>
            <li>
                <a href="/category/comedia">Comedia</a>
            </li>
            <li>
                <a href="/category/familia">Familia</a>
            </li>
            <li>
                <a href="/category/drama">Drama</a>
            </li>
            <li>
                <a href="/category/fantasia">Fantasia</a>
            </li>
            <li>
                <a href="/category/ficcao">Ficao</a>
            </li>
            <li>
                <a href="/category/terror">Terror</a>
            </li>
            <li>
                <a href="/category/guerra">Guerra</a>
            </li>
            <li>
                <a href="/category/acao">Ação</a>
            </li>
            <li>
                <a href="/category/historia">Historia</a>
            </li>
            <li>
                <a href="/category/policial">Policial</a>
            </li>
        </ol>
    </nav>
</header>