<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/icone.ico" type="image/x-icon">
    <title>Adicionar filme</title>
</head>

<body>
    <%- include('./components/header.ejs') %>
        <div>
            <%if(message != ""){%>
                <%-include('./components/alerts')%>
                    <% } %>
        </div>
        <main>
            <h2 id="adicionar">Cadastre aqui o seu filme</h2>
            <form action="/create" method="POST" id="boxes">
                <label for="titulo">Titulo: </label>
                <input type="text" name="titulo" id="titulo">

                <label for="descricao">Descricao: </label>
                <input type="text" name="descricao" id="descricao">

                <label for="ano_de_lancamento">Ano de Lancamento: </label>
                <input type="text" name="ano_de_lancamento" id="ano_de_lancamento">

                <label for="genero">Genero: </label>
                <input type="text" name="genero" id="genero">

                <label for="idioma">Idioma: </label>
                <input type="text" name="idioma" id="idioma">

                <label for="legenda">Legenda: </label>
                <input type="text" name="legenda" id="legenda">

                <label for="duracao">Duração: </label>
                <input type="text" name="duracao" id="duracao">

                <label for="estrelas">Estrelas: </label>
                <input type="text" name="estrelas" id="estrelas">

                <label for="imagem">Imagem: </label>
                <input type="url" name="imagem" id="imagem">

                <fieldset id="fieldset">
                    <label for="tipo">Tipo: </label>
                    <input type="radio" name="tipo" id="serie" value="Serie">
                    <label for="serie">Serie</label>
                    <input type="radio" name="tipo" id="filme" value="Filme">
                    <label for="filme">Filme</label>
                </fieldset>

                <button id="btnCadastrar" type="submit">Cadastrar</button>
            </form>
        </main>
        <%- include('./components/footer.ejs') %>
            <script src="/js/script.js"></script>

</body>

</html>