* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

header a img#banner {
    width: 15%;
}

header {
    background-color: rgb(223, 7, 8);
}

nav ul#menu {
    display: flex;
    margin: 0 10px 0 10px;
}

nav ul#menu li {
    list-style: none;
}

nav ul#menu li a {
    text-decoration: none;
    color: white;
    padding: 1.7rem;
    text-align: center;
}

nav ul#menu li:hover {
    transition: transform 1s;
    transform: translateX(0) scale(1.2);
}

nav ul#menu li a:hover {
    background-color: red;
}

nav ol#submenu {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px 0 10px;
}

nav ol#submenu li {
    list-style: none;
}

nav ol#submenu li:hover {
    transition: transform 1s;
    transform: translateX(0) scale(1.2);
}

nav ol#submenu li a:hover {
    color: rgb(0, 0, 0);
}

nav ol#submenu li a {
    text-decoration: none;
    color: rgb(249, 160, 160);
    padding: 1.1rem;
    background-color: rgb(248, 35, 35);
}

ol#submenu a:hover {
    background-color: red;
    /* Igual a scaleX(2) scaleY(0.5) */
}